<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<!-- <link rel="stylesheet" type="text/css" href="modules/home/myStyle.css" /> -->
</head>
<body >

<!-- <ng-autocomplete ng-model="ctrl.keyword1" url="modules/home/example_data.json" max-results="5" theme="blue"></ng-autocomplete>
 -->


<div id="chart1" width="200px">
</div>


<ng-autocomplete ng-model="ctrl.keyword1"
		 url="modules/home/example_data.json"
		 search-property="title"
		 max-results="5"
		 delay="300"
		 min-length="2"
		 allow-only-results="false"
		 placeholder="Enter text here...."
		 mymodel="searchword"
		 
		 >
</ng-autocomplete>{{searchword}}

<div class="open_css">Home Page</div>

<div class="test_css">I work in {{company}} at {{branch}}</div> 

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- <div>
Name: <input type="text" ng-model="docs.name"><br>
Description: <input type="text" ng-model="docs.description"><br>
Upload: <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/><br>
<input type="button" value="Upload" ng-click="uploadFile()" >
</div> -->

<a href="#/form">form</a>
</body>
</html>